%% -*- erlang -*-
{sub_dirs, ["rel", "apps/pivotapp", "apps/pivotapp_api"]}.
{cover_enabled, true}.
{erl_opts, [debug_info, warnings_as_errors]}.
{edoc_opts, [{dir, "../../doc"}]}.
{deps, [
  {riak_core, "1.4.*", {git, "git://github.com/basho/riak_core", {tag, "1.4.2"}}},
  {cowboy, "0.8.*", {git, "git://github.com/extend/cowboy", {tag, "0.8.6"}}},
  {jsx, ".*", {git, "https://github.com/talentdeficit/jsx.git", "v1.4.1"}},
  {ref_server, ".*", {git, "https://github.com/CamShaft/ref_server.git"}},
  {fast_key, ".*", {git, "https://github.com/CamShaft/fast_key.git"}},
  {simple_env, ".*", {git, "https://github.com/CamShaft/simple_env.git"}},
  {simple_sup, ".*", {git, "https://github.com/CamShaft/simple_sup.git"}},

  {cowboy_route_loader, ".*", {git, "https://github.com/CamShaft/cowboy_route_loader.git"}},
  {cowboy_env, ".*", {git, "https://github.com/CamShaft/cowboy_env.git"}},

  {pivot_event_db_riak, ".*", {git, "https://github.com/pivotapp/pivot_event_db_riak.git"}},
  {pivot_mab_arms_db_riak, ".*", {git, "https://github.com/pivotapp/pivot_mab_arms_db_riak.git"}},

  {sync, ".*", {git, "https://github.com/rustyio/sync.git", "master"}}
]}.
